.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;

}

.min-height {
    min-height: 89%;
}

@media only screen and (max-width: 768px) {

    .container {
        justify-content: center;

    }
}