.navbar {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding: 2rem;
    background-color: #410063;
    
}

.navbar h1 {
    color: #FFF;
}

.navbar h1:hover {
    transition: .5s;
    color: #ffbb33;
}

.list {
    display: flex;
    list-style: none;
    align-items: center
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}

